.title,form,.contactInfo
{
    max-width: 890px;
    margin: 0 auto; 
    float: none; 
    margin-top: 30px; 
    margin-bottom: 0px; 
    text-align: left;
}

.telIcon{
    margin-left: 15px;
    margin-right: 10px;
}

.separator{
    margin-top: 0px; 
    margin-bottom: 20px;     
}

.titleDetail{
    margin-top: 35px;     
    margin-bottom: 20px;     
}

.btn
{
    background-color: #363d42; 
    color: white;     
}


.invalid-feedback{
    text-align: left;
    margin-left: 46px;
}