.nav-link 
{
    font-size: large;
}

.navbar 
{
    margin-top: 10px;
}

.img{
    margin-top: 5px;
    margin-bottom: 5px;
}
// .header {
    
//     background: transparent url('../app/header.png'); 
//     background-repeat: no-repeat;
//     background-position: center center;
   
    
// }