 <div class="componentContent">
  <div>
      <h3><i class="fa fa-envelope"></i>Confirmar asistencia</h3>
      <hr class="separator"/>     
      <p>Agradeceríamos que nos confirmarais la asistencia lo antes posible. Solamente hace falta hacer una confirmación por núcleo
        familiar, añadiendo a todos los invitados abajo.
      </p>    
  </div>

  <form [formGroup]="formConfirmar" (ngSubmit)="onConfirmar()">   
    <div class="form-group">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><fa-icon icon="user"></fa-icon></div>
            </div>
            <input type="text" class="form-control" formControlName="name" placeholder="Nombre" [ngClass]="{ 'is-invalid': submittedConfirmar && formConfirmar.controls.name.errors }">
            <div *ngIf="submittedConfirmar && formConfirmar.controls.name.errors" class="invalid-feedback">
            <div *ngIf="formConfirmar.controls.name.errors.required">Debe introducir un nombre</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><fa-icon icon="envelope"></fa-icon></div>
            </div>
            <input type="email" class="form-control" placeholder="ejemplo@gmail.com" formControlName="email" [ngClass]="{ 'is-invalid': submittedConfirmar && formConfirmar.controls.email.errors }">
            <div *ngIf="submittedConfirmar && formConfirmar.controls.email.errors" class="invalid-feedback">
            <div *ngIf="formConfirmar.controls.email.errors.required">Debe introducir un email</div>
            <div *ngIf="formConfirmar.controls.email.errors.email">Debe introducir un email valido</div>
        </div>
      </div>
    </div>

    <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">     
              <h4 class="modal-title w-100" id="myModalLabel">Añadir invitado</h4>
              <button type="button" class="close" aria-label="Close" (click)="basicModal.hide()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <form [formGroup]="formInvitado" (ngSubmit)="onAddInvitado()">   
            <div class="modal-body">
              
                    <div class="form-group">
                     <div class="input-group mb-2">  
                <div class="form-group">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><fa-icon icon="user"></fa-icon></div>
                        </div>
                        <input type="text" class="form-control" formControlName="fullname" placeholder="Nombre completo" [ngClass]="{ 'is-invalid': submittedAddInvitado && formInvitado.controls.fullname.errors }">
                        <div *ngIf="submittedAddInvitado && formInvitado.controls.fullname.errors" class="invalid-feedback">
                        <div *ngIf="formInvitado.controls.fullname.errors.required">Debe introducir nombre y apellidos</div>
                        </div>
                    </div>
                </div>   
                  <div class="form-group">
                      <div class="input-group mb-2">
                          <div class="input-group-prepend">
                              <div class="input-group-text"><fa-icon icon="comment"></fa-icon></div>
                          </div>
                          <textarea class="form-control" placeholder="Alergias alimenticias" formControlName="alergias" [ngClass]="{ 'is-invalid': submittedAddInvitado && formInvitado.controls.alergias.errors }"></textarea>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="input-group mb-2">                  
                          <label class="radio-inline">¿Te quedas a dormir?<input type="radio" name="optradio">Sí</label>
                          <label class="radio-inline"><input type="radio" name="optradio">No</label>
  
                          <!-- <input type="text" class="form-control" placeholder="Apellidos" formControlName="surnames" [ngClass]="{ 'is-invalid': submittedAddInvitado && formInvitado.controls.surnames.errors }">
                          <div *ngIf="submittedAddInvitado && formInvitado.controls.surnames.errors" class="invalid-feedback">
                          <div *ngIf="formInvitado.controls.email.surnames.required">Debe introducir los apellidos</div>           
                        </div>  -->            
                      </div>
                    </div>
                  </div>
                </div>                   
              
              
              
              
              
             
            </div>
            <div class="modal-footer">
              <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
              <button type="submit" mdbBtn color="secondary" class="relative waves-light" mdbWavesEffect>Añadir</button>
            </div>
          </form>
          </div>
        </div>
    </div>


        <div class="card">
          <h5 class="card-header text-center font-weight-bold">Invitados</h5>       
          <div class="card-body">
              <span class="table-add float-right mb-3 mr-2">
                  <a class="text-success" (click)="basicModal.show()" mdbWavesEffect>
                    <fa-icon icon="plus"></fa-icon>
                  </a>
                </span>              
                    


            <!-- <div id="table" class="table-editable">      
              <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                  <th class="text-center font-weight-normal">Nombre</th>
                  <th class="text-center font-weight-normal">Apellidos</th>
                  <th class="text-center font-weight-normal">¿Te alojas?</th>
                  <th class="text-center font-weight-normal">DNI</th>
                  <th class="text-center font-weight-normal">Fecha nacimiento</th>
                  <th class="text-center font-weight-normal" >Alergias alimenticias</th>
                  <th class="text-center font-weight-normal">Eliminar</th>
                </tr>
                <tr *ngFor="let person of personList; let id = index">
                  <td contenteditable="true" (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)">{{person.name}}</td>
                  <td contenteditable="true" (keyup)="changeValue(id, 'age', $event)" (blur)="updateList(id, 'age', $event)">{{person.age}}</td>
                  <td contenteditable="true" (keyup)="changeValue(id, 'companyName', $event)" (blur)="updateList(id, 'companyName', $event)">{{person.companyName}}</td>
                  <td contenteditable="true" (keyup)="changeValue(id, 'country', $event)" (blur)="updateList(id, 'country', $event)">{{person.country}}</td>
                  <td contenteditable="true" (keyup)="changeValue(id, 'city', $event)" (blur)="updateList(id, 'city', $event)">{{person.city}}</td>           
                  <td>
                    <span class="table-remove">
                      <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
                    </span>
                  </td>
                </tr>
              </table> 
            </div> -->
          </div>
        </div>

    <div class="text-center">
      <input type="submit" value="Confirmar" class="btn">
  </div>
  </form>
</div> 
