
<div class="componentContent">
  <div>
      <h3><i class="fa fa-envelope"></i>Cómo llegar</h3>
      <hr class="separator"/>    
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
      <p class="text-center">Masia el Xaloc | Carretera Manresa-Vic, km 11 | 08275 Calders <br/>Latitud: 41.762471 Longitud: 1.93561</p>    

      <p> Opción 1: C-16 en un tiempo aprox. de 40 min desde Sabadell (incluye peaje)<br/>
          Opción 2: C-58 y C-55 en un tiempo aprox. de 51 min desde Sabadell (sin peaje)</p>        

      <p>Aunque llegar no es muy complicado, recomendamos el uso de GPS para llegar sin problemas, os facilitamos unas indicaciones del camino final 
          para guiaros.</p>  

      <img [src]="indicaciones1" class="indicaciones img-fluid mx-auto">  
      <p>Salida desde la carretera.</p>   

      <img [src]="indicaciones2" class="indicaciones img-fluid mx-auto">     
      <p>Seguimos el camino dejando la central eléctrica a la izquierda. Llegamos al letrero, si nos fijamos indica El Xaloc a la izquierda 
          así que tomamos el camino izquierdo.</p>   

      <img [src]="indicaciones3" class="indicaciones img-fluid mx-auto">     
      <p>LLegamos a la entrada a la Masia El Xaloc.</p>  
      
    </div>      
</div>      

