<div class="componentContent">
    <div>
        <h3><i class="fa fa-envelope"></i>Información</h3>
        <hr class="separator"/>     
        <p>Para que los invitados puedan disfrutar de la fiesta sin preocupaciones nos hace mucha ilusión que exista la posibilidad 
            de que aquellos que lo deseen puedan quedarse a dormir. Para aquellos que alarguen la boda hasta el día siguiente también
             podrán disfrutar de un desayuno y el uso de las instalaciones de la masía, incluida la piscina, así que no olvidéis llevaros
             toalla y bañador. A continuación os damos un poco más de información.
        </p>        
    </div>

    <div class="subtitle">
        <h3><i class="fa fa-envelope"></i>Hora de llegada</h3>
        <hr class="separator"/>     
        <p>La hora de llegada para los invitados que se queden a dormir será a las 17:00 ya que tendrán que realizar el Check In del 
            alojamiento y dejar las maletas en la habitación, los demás invitados deben llegar sobre las 17:30h.
        </p>        
    </div>

    <div class="subtitle">
        <h3><i class="fa fa-envelope"></i>Alojamiento</h3>
        <hr class="separator"/>    
        <p>La masía cuenta con un pequeño hotel que estará reservado para los más mayores. Para los más jóvenes dispone de diversas casitas de colonias con perfectas instalaciones
                y que estarán separadas por grupos de familiares/amigos para que se esté lo más cómodo posible.</p>   
        <img [src]="hotel" class="img-fluid mx-auto" style="margin-top: 0px;">          
        <img [src]="casitacolonia" class="img-fluid mx-auto" style="margin-top: 0px;">          
    </div>

    <div class="subtitle">
        <h3><i class="fa fa-envelope"></i>Monitores</h3>
        <hr class="separator"/>    
        <p>Para que los más peques puedan disfrutar de la boda y las mamás y papás estén más relajados, tras el aperitivo
          los peques contarán con un servicio de monitores para realizarles diversas actividades por la masía y cenar junto a ellos.
        </p>    
    </div>

    <div class="subtitle">
        <h3><i class="fa fa-envelope"></i>Web</h3>
        <hr class="separator"/>    
        <p>Para más detalle sobre la masía, os dejamos el enlace a su web: <a href="https://www.elxaloc.com">https://www.elxaloc.com</a></p>       
    </div>

    <div class="subtitle">
        <h3><i class="fa fa-envelope"></i>Regalos</h3>
        <hr class="separator"/>    
        <p>Sin lugar a dudas <strong>vuestra compañía en nuestro día más especial es el mejor regalo</strong>.<br/>
           Debido a que muchos invitados nos están pidiendo por comodidad un nº de cuenta donde contribuir, os lo 
           facilitamos a continuación:</p>        
           <p>Banco: <strong>ING Direct</strong><br/>
           Beneficiarios: <strong>Cristina y Javi</strong><br/>
           IBAN: <strong>ES18 1465 01 20321726065478</strong></p>       
           <p class="gracias text-center"><strong>Muchísimas gracias!</strong></p>
    </div>
</div>

