.countdownText{
    margin-top: 15px;
    font-size: 35px;
    text-align: center;
    font-family: 'Bangers';
    letter-spacing:2px;
    white-space: nowrap;
    display:block;
}

.countdownTime{
    letter-spacing:2px;  
    font-family: 'Bangers'; 
    white-space: nowrap;
    color:red;
}

.bienvenidos{
    font-size: 35px;
    font-family: 'Bangers';
}

@media screen and (min-width: 769px) 
{
    .countdownText, .countdownTime, .bienvenidos {
        font-size: 35px;
      }    
}   

@media screen and (max-width: 768px) {
    .countdownText, .countdownTime, .bienvenidos {
        font-size: 15px;
      }  
}